<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776872689635-2uubgutro9utora4s81lj2r19u3gsprg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776872689635-2uubgutro9utora4s81lj2r19u3gsprg</string>
	<key>API_KEY</key>
	<string>AIzaSyDW46U561GjjgKIYRpgci0PutYhbCAHviE</string>
	<key>GCM_SENDER_ID</key>
	<string>776872689635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birthdates</string>
	<key>PROJECT_ID</key>
	<string>brithdayapp</string>
	<key>STORAGE_BUCKET</key>
	<string>brithdayapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776872689635:ios:aca961f45f8c697699ead6</string>
</dict>
</plist>